{{ $infra := .Values.infra }}
{{- if .Values.global }}
{{- $infra = .Values.global.infra }}
{{- end }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "platform-links.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "platform-links.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "platform-links.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "platform-links.selectorLabels" . | nindent 8 }}
    spec:
      {{- include "appscode.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "appscode.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ include "image.registry" . }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - run
            - app-config=/data/b3/conf/app.ini
          ports:
            - name: http
              containerPort: 3006
              protocol: TCP
          startupProbe:
            httpGet:
              path: /
              port: http
            # wait for cert and nats to be ready
            initialDelaySeconds: 60
            failureThreshold: 18
            periodSeconds: 30
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          {{- if and (include "settings.objstoreSecretName" .) (eq $infra.objstore.provider "gcs") }}
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: {{ $infra.objstore.mountPath }}/sa.json
          {{- end }}
          {{- if and (include "settings.objstoreSecretName" .) (eq $infra.objstore.provider "s3") }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "settings.objstoreSecretName" . }}
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "settings.objstoreSecretName" . }}
                  key: AWS_SECRET_ACCESS_KEY
            {{- if $infra.objstore.s3.AWS_REGION }}
            - name: AWS_REGION
              valueFrom:
                secretKeyRef:
                  name: {{ include "settings.objstoreSecretName" . }}
                  key: AWS_REGION
            {{- end }}
          {{- end }}
          {{- if and (include "settings.objstoreSecretName" .) (eq $infra.objstore.provider "azure") }}
            - name: AZURE_STORAGE_ACCOUNT
              valueFrom:
                secretRef:
                  name: {{ include "settings.objstoreSecretName" . }}
                  key: AZURE_ACCOUNT_NAME
            - name: AZURE_STORAGE_KEY
              valueFrom:
                secretRef:
                  name: {{ include "settings.objstoreSecretName" . }}
                  key: AZURE_ACCOUNT_KEY
          {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: data
              mountPath: /data
            {{- if (include "settings.platformConfigSecretName" .) }}
            - name: config
              mountPath: /data/b3/conf/app.ini
              subPath: app.ini
            {{- end }}
            {{- if (include "settings.objstoreSecretName" .) }}
            - name: objstore-cred
              mountPath: {{ $infra.objstore.mountPath }}
            {{- end }}
            {{- if (include "settings.caProviderClass" .) }}
            - name: cacerts
              mountPath: /etc/ssl/certs
            {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
        {{- with $secretName := (include "settings.platformConfigSecretName" .) }}
        - name: config
          secret:
            defaultMode: 420
            secretName: {{ $secretName }}
        {{- end }}
        {{- with $secretName := (include "settings.objstoreSecretName" .) }}
        - name: data
          emptyDir: {}
        - name: objstore-cred
          secret:
            defaultMode: 420
            secretName: {{ $secretName }}
        {{- else }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "platform-links.fullname" . }}-data
        {{- end }}
        {{- with $cpc := (include "settings.caProviderClass" .) }}
        - name: cacerts
          csi:
            driver: cacerts.csi.cert-manager.io
            readOnly: true
            volumeAttributes:
              os: debian
              caProviderClasses: {{ $cpc }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
