{{ $defaults := printf `
images:
  operator: %s
  interceptor: %s
  scaler: %s
  kubeRbacProxy:
    name: %s
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  privileged: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
`
  (include "image.ghcr" (merge (dict "_repo" "kedacore/http-add-on-operator") $))
  (include "image.ghcr" (merge (dict "_repo" "kedacore/http-add-on-interceptor") $))
  (include "image.ghcr" (merge (dict "_repo" "kedacore/http-add-on-scaler") $))
  (include "image.ghcr" (merge (dict "_repo" "appscode/kube-rbac-proxy") $))
  | fromYaml }}

{{- if eq (include "distro.openshift" $) "false" }}
{{ $scc := `
securityContext:
  runAsUser: 1000
  runAsGroup: 1000
`
  | fromYaml }}
{{ $defaults = mergeOverwrite $defaults $scc }}
{{- end }}

{{ $vals := dig "keda-add-ons-http" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: keda-add-ons-http
  labels:
    app.kubernetes.io/part-of: opscenter-cost
spec:
  title: Keda HTTP Addon
  description: |
    Add-on for KEDA to scale HTTP workloads
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-cost
  featureBlock: keda
  recommended: true
  requirements:
    features:
      - keda
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/component: operator
          app.kubernetes.io/instance: keda-add-ons-http
          app.kubernetes.io/part-of: keda-add-ons-http
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/component: scaler
          app.kubernetes.io/instance: keda-add-ons-http
          app.kubernetes.io/part-of: keda-add-ons-http
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/component: interceptor
          app.kubernetes.io/instance: keda-add-ons-http
          app.kubernetes.io/part-of: keda-add-ons-http
  chart:
    name: keda-add-ons-http
    namespace: keda
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "keda-add-ons-http" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: keda-add-ons-http.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
