apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "catalog-manager.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "catalog-manager.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "catalog-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "catalog-manager.selectorLabels" . | nindent 8 }}
    spec:
      {{- include "appscode.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "catalog-manager.serviceAccountName" . }}
      {{- if eq "true" ( include "distro.openshift" . ) }}
      securityContext:
        {{- toYaml (omit .Values.podSecurityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 8 }}
      {{- else }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- if eq "true" ( include "distro.openshift" . ) }}
          securityContext:
            {{- toYaml (omit .Values.image.securityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 12 }}
          {{- else }}
          securityContext:
            {{- toYaml .Values.image.securityContext | nindent 12 }}
          {{- end }}
          image: {{ include "image.registry" . }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          args:
            - run
            - --service-provider-service-account-name={{ .Values.serviceProviderServiceAccount.name }}
            - --service-provider-service-account-namespace={{ .Values.serviceProviderServiceAccount.namespace }}
            - --helmrepo-name={{ .Values.helmrepo.name }}
            - --helmrepo-namespace={{ .Values.helmrepo.namespace }}
            - --keda-proxyservice-name={{ .Values.keda.proxyService.name }}
            - --keda-proxyservice-namespace={{ .Values.keda.proxyService.namespace }}
            - --oci-registry-config-file=/var/platform-auth/oci.yaml
            - --platform-url={{ .Values.platform.baseURL }}
            {{- if .Values.platform.caBundle }}
            - --platform-ca-file=/var/platform-auth/ca.crt
            {{- end }}
          ports:
            - name: metrics
              containerPort: 8080
              protocol: TCP
            - name: http
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
          resources:
            {{- toYaml .Values.image.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /var/platform-auth
              name: platform-auth
      volumes:
        - name: platform-auth
          secret:
            defaultMode: 420
            secretName: {{ include "catalog-manager.fullname" . }}-platform-auth
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
