{{ $defaults := printf `
global:
  registryFQDN: %q
` (include "registry.ghcr" $) | fromYaml }}

{{ $vals := dig "kubedb-opscenter" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: kubedb-opscenter
  labels:
    app.kubernetes.io/part-of: opscenter-datastore
spec:
  title: KubeDB Opscenter
  description: |
    UI and monitoring resources for KubeDB.
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-datastore
  featureBlock: kubedb
  recommended: true
  requirements:
    features:
      - kubedb
      - panopticon
      - grafana-operator
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/name: kubedb-ui-server
  chart:
    name: kubedb-opscenter
    namespace: kubedb
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "kubedb-opscenter" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: kubedb-opscenter.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
