apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: kubedb-opscenter
spec:
  title: KubeDB Opscenter
  description: |
    UI and monitoring resources for KubeDB.
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-datastore
  featureBlock: kubedb
  required: true
  requirements:
    features:
      - kubedb
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/managed-by: Helm
          app.kubernetes.io/name: kubedb-ui-server
  chart:
    name: kubedb-opscenter
    namespace: kubedb
    version: "v2023.04.10"
    sourceRef:
      kind: HelmRepository
      name: kubedb
      namespace: {{ .Release.Namespace }}
