{{ $defaults := dict "registryFQDN" (include "registry.ghcr" $) }}

{{ $vals := dig "falco-ui-server" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: falco-ui-server
  labels:
    app.kubernetes.io/part-of: opscenter-security
spec:
  title: Falco UI Server
  description: |
    Falco UI Server
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: opscenter-security
  featureBlock: falco
  recommended: false
  requirements:
    features:
      - falco
      - grafana-operator
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: StatefulSet
        selector:
          app.kubernetes.io/name: falco-ui-server
          app.kubernetes.io/instance: falco-ui-server
  chart:
    name: falco-ui-server
    namespace: falco
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "falco-ui-server" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: falco-ui-server.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
