{{ $defaults := printf `
james:
  image: %s:postgres-latest
migrate:
  image:
    repository: %s
`
  (include "image.ghcr" (merge (dict "_repo" "appscode/inbox-server") $))
  (include "image.ghcr" (merge (dict "_repo" "appscode-images/postgres") $))
  | fromYaml }}

{{ $vals := dig "inbox-server" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

{{- if eq (include "distro.openshift" $) "true" }}
{{ $vals = mergeOverwrite $vals (dict "distro" .Values.distro) }}
{{- end }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: inbox-server
  labels:
    app.kubernetes.io/part-of: opscenter-observability
spec:
  title: Inbox Server (ALPHA)
  description: |
    Inbox server
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-observability
  featureBlock: inbox-server
  recommended: false
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/name: inbox-server
  chart:
    name: inbox-server
    namespace: ace
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "inbox-server" "version" "" $.Values.helm.releases }}
    valuesFiles:
    - values.yaml
    - secrets.sample.yaml
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
