{{ $defaults := printf `
registryFQDN: %s
nodeDriverRegistrar:
  registry: %s
livenessProbe:
  registry: %s
`
  (include "registry.ghcr" $)
  (include "image.kubernetes" (merge (dict "_repo" "sig-storage") $))
  (include "image.kubernetes" (merge (dict "_repo" "sig-storage") $))
  | fromYaml }}

{{ $vals := dig "cert-manager-csi-driver-cacerts" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

{{- if eq (include "distro.openshift" $) "true" }}
{{ $vals = mergeOverwrite $vals (dict "distro" .Values.distro) }}
{{- end }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: cert-manager-csi-driver-cacerts
  labels:
    app.kubernetes.io/part-of: opscenter-security
spec:
  title: CA Cert CSI Driver
  description: |
    CSI Driver to mount ca-certs issued by cert-manager
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-security
  featureBlock: cert-manager
  recommended: false
  requirements:
    features:
      - cert-manager
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: DaemonSet
        selector:
          app.kubernetes.io/name: cert-manager-csi-driver-cacerts
  chart:
    name: cert-manager-csi-driver-cacerts
    namespace: cert-manager
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "cert-manager-csi-driver-cacerts" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
