{{ $defaults := printf `
installCRDs: true
extraArgs:
- --enable-gateway-api
image:
  repository: %s
webhook:
  image:
    repository: %s
cainjector:
  image:
    repository: %s
acmesolver:
  image:
    repository: %s
startupapicheck:
  image:
    repository: %s
`
  (include "image.ghcr" (merge (dict "_repo" "appscode-images/cert-manager-controller") $))
  (include "image.ghcr" (merge (dict "_repo" "appscode-images/cert-manager-webhook") $))
  (include "image.ghcr" (merge (dict "_repo" "appscode-images/cert-manager-cainjector") $))
  (include "image.ghcr" (merge (dict "_repo" "appscode-images/cert-manager-acmesolver") $))
  (include "image.ghcr" (merge (dict "_repo" "appscode-images/cert-manager-startupapicheck") $))
  | fromYaml }}

{{ $vals := dig "cert-manager" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

{{- if eq (include "distro.openshift" $) "true" }}

{{ $oc := printf `
image:
  tag: %s-ubi
webhook:
  image:
    tag: %s-ubi
cainjector:
  image:
    tag: %s-ubi
acmesolver:
  image:
    tag: %s-ubi
startupapicheck:
  image:
    tag: %s-ubi
`
  .version
  .version
  .version
  .version
  .version
  | fromYaml }}
{{ $vals = mergeOverwrite $vals $oc }}

{{- end }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: cert-manager
  labels:
    app.kubernetes.io/part-of: opscenter-security
spec:
  title: Cert Manager
  description: |
    X.509 certificate management for Kubernetes and OpenShift
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-security
  featureBlock: cert-manager
  recommended: false
  requirements:
    features:
      - gateway-api
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/component: controller
          app.kubernetes.io/instance: cert-manager
          app.kubernetes.io/name: cert-manager
      # official cert-manager
      - group: apps
        version: v1
        kind: Deployment
        optional: "cert-manager-webhook"
        selector:
          app.kubernetes.io/component: webhook
          app.kubernetes.io/instance: cert-manager
          app.kubernetes.io/name: webhook
      # bitnami cert-manager
      - group: apps
        version: v1
        kind: Deployment
        optional: "cert-manager-webhook"
        selector:
          app.kubernetes.io/component: webhook
          app.kubernetes.io/instance: cert-manager
          app.kubernetes.io/name: cert-manager
  chart:
    name: cert-manager
    namespace: cert-manager
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "cert-manager" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
