apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: cert-manager
  labels:
    byte.builders/feature-set: opscenter-security
spec:
  title: Cert Manager
  description: |
    X.509 certificate management for Kubernetes and OpenShift
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-security
  featureBlock: cert-manager
  required: true
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/managed-by: Helm
          app.kubernetes.io/name: cert-manager
  chart:
    name: cert-manager
    namespace: cert-manager
    version: "v1.11.0"
    sourceRef:
      kind: HelmRepository
      name: jetstack
      namespace: {{ .Release.Namespace }}
