{{ $defaults := dict "registryFQDN" (include "registry.ghcr" $) }}

{{ $vals := dig "operator-shard-manager" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

{{- if eq (include "distro.openshift" $) "true" }}
{{ $vals = mergeOverwrite $vals (dict "distro" .Values.distro) }}
{{- end }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: operator-shard-manager
  labels:
    app.kubernetes.io/part-of: opscenter-tools
spec:
  title: Operator Shard Manager
  description: |
    Scale Operators by Sharding Responsibility
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-tools
  featureBlock: operator-shard-manager
  recommended: true
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/name: operator-shard-manager
  chart:
    name: operator-shard-manager
    namespace: kubeops
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "operator-shard-manager" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
