{{ $defaults := printf `
deployment:
  envoyGateway:
    image:
      repository: %s
  kubeRbacProxy:
    image:
      repository: %s
gateway-converter:
  registryFQDN: %s
`
  (include "image.ghcr" (merge (dict "_repo" "voyagermesh/gateway") $))
  (include "image.ghcr" (merge (dict "_repo" "appscode/kube-rbac-proxy") $))
  (include "registry.ghcr" $)
  | fromYaml }}

{{ $vals := dig "voyager-gateway" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

{{- if eq (include "distro.openshift" $) "true" }}
{{ $vals = mergeOverwrite $vals (dict "global" (dict "distro" .Values.distro)) }}
{{- end }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: voyager-gateway
  labels:
    app.kubernetes.io/part-of: opscenter-networking
spec:
  title: Voyager Gateway
  description: |
    Envoy Gateway Distro by AppsCode
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: opscenter-networking
  featureBlock: voyager-gateway
  recommended: false
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/instance: voyager-gateway
          app.kubernetes.io/name: voyager-gateway
          control-plane: envoy-gateway
  chart:
    name: voyager-gateway
    namespace: envoy-gateway-system
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "voyager-gateway" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
