kind: Deployment
apiVersion: apps/v1
metadata:
  name: license-proxyserver-manager
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "license-proxyserver-manager.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "license-proxyserver-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "license-proxyserver-manager.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.kubeconfigSecretName }}
      automountServiceAccountToken: false
      {{- else }}
      serviceAccount: license-proxyserver-manager
      automountServiceAccountToken: true
      {{- end }}
      containers:
        - name: manager
          image: {{ .Values.image }}:{{ .Values.tag | default .Chart.AppVersion }}
          imagePullPolicy: Always
          args:
            - manager
            {{- if .Values.kubeconfigSecretName }}
            - --kubeconfig=/var/run/secrets/ocm/auth/kubeconfig
            {{- end }}
            - --cache-dir=/tmp/licenses
            - --registryFQDN={{ .Values.registryFQDN }}
            - --baseURL={{ .Values.platform.baseURL }}
            - --token=$(PLATFORM_API_TOKEN)
          {{- with .Values.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
          {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
            - name: PLATFORM_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: license-issuer-token
                  key: token
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NAMESPACE
              value: {{ include "license-proxyserver-manager.namespace" . }}
          {{- if eq "true" ( include "distro.openshift" . ) }}
          securityContext:
            {{- toYaml (omit .Values.securityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 12 }}
          {{- else }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /tmp
              name: cache-dir
          {{- if .Values.kubeconfigSecretName }}
            - mountPath: /var/run/secrets/ocm/auth
              name: ocm-auth
          {{- end }}
      volumes:
        - name: cache-dir
          emptyDir: {}
        {{- if .Values.kubeconfigSecretName }}
        - name: ocm-auth
          secret:
            defaultMode: 420
            secretName: {{ .Values.kubeconfigSecretName }}
        {{- end }}
