apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ include "tenant.name" . }}-gw-seed-backend
  namespace: {{ .Release.Namespace }}
spec:
  gatewayClassName: {{ include "tenant.name" . }}
  listeners:
    - name: http
      protocol: HTTP
    {{- if and (or (eq .Values.infra.tls.issuer "letsencrypt") (eq .Values.infra.tls.issuer "letsencrypt-staging")) (eq .Values.infra.tls.acme.solver "Gateway") }}
      port: 80
    {{- else }}
      port: {{ .Values.envoy.service.seedBackendPort }}
    {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tenant.name" . }}-gw-seed-backend
  namespace: {{ .Release.Namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "tenant.name" . }}-gw-seed-backend
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: http
      port: 3000
      targetPort: 3000
  selector:
    app: {{ include "tenant.name" . }}-gw-seed-backend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tenant.name" . }}-gw-seed-backend
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "tenant.name" . }}-gw-seed-backend
  template:
    metadata:
      labels:
        app: {{ include "tenant.name" . }}-gw-seed-backend
    spec:
      serviceAccountName: {{ include "tenant.name" . }}-gw-seed-backend
      {{- if eq "true" ( include "distro.openshift" . ) }}
      securityContext:
        {{- toYaml (omit .Values.podSecurityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 8 }}
      {{- else }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - image: "{{ .Values.echoserver.image }}:{{ .Values.echoserver.tag }}"
          imagePullPolicy: IfNotPresent
          name: backend
          ports:
            - containerPort: 3000
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          {{- if eq "true" ( include "distro.openshift" . ) }}
          securityContext:
            {{- toYaml (omit .Values.echoserver.securityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 12 }}
          {{- else }}
          securityContext:
            {{- toYaml .Values.echoserver.securityContext | nindent 12 }}
          {{- end }}

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "tenant.name" . }}-gw-seed-backend
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: {{ include "tenant.name" . }}-gw-seed-backend
  {{- if eq .Values.infra.hostType "domain" }}
  hostnames:
    - {{ include "gateway.domain" . }}
  {{- end }}
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: {{ include "tenant.name" . }}-gw-seed-backend
          port: 3000
          weight: 1
      matches:
        - path:
            type: Exact
            value: /info
