{{- if .Values.precheck.enabled }}

apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "ace-installer.fullname" . }}-precheck
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook-weight": "1"
    "helm.sh/hook": pre-install,pre-upgrade,pre-rollback
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  backoffLimit: 0
  manualSelector: true
  selector:
    matchLabels:
      {{- include "ace-installer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.precheck.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ace-installer.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "ace-installer.fullname" . }}-precheck
      {{- if eq "true" ( include "distro.openshift" . ) }}
      securityContext:
        {{- toYaml (omit .Values.podSecurityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 8 }}
      {{- else }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.precheck.securityContext | nindent 12 }}
          image: "{{ include "precheck.image.registry" . }}/{{ .Values.precheck.image.repository }}:{{ .Values.precheck.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: Always
          args:
            - validate-installer
            - --options=/data/installer/options.yaml
          resources:
            {{- toYaml .Values.precheck.resources | nindent 12 }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: data
              mountPath: /data
            - name: installer-options
              mountPath: /data/installer/options.yaml
              subPath: options.yaml
      volumes:
        - name: tmp
          emptyDir: {}
        - name: data
          emptyDir: {}
        - name: installer-options
          secret:
            defaultMode: 420
            secretName: {{ include "ace-installer.fullname" . }}-precheck-config
      {{- with .Values.precheck.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.precheck.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.precheck.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never

{{- end }}
