{{ $csc := printf `
allowPrivilegeEscalation: false
capabilities:
  drop:
    - ALL
runAsGroup: 0
runAsNonRoot: true
runAsUser: %v
seccompProfile:
  type: RuntimeDefault
`
  .Values.securityContext.runAsUser
  | fromYaml }}

apiVersion: archiver.kubedb.com/v1alpha1
kind: PostgresArchiver
metadata:
  name: {{ include "ace.fullname" . }}-db
  namespace: {{ .Release.Namespace }}
spec:
  pause: false
  databases:
    namespaces:
      from: Selector
      selector:
        matchLabels:
         kubernetes.io/metadata.name: {{ .Release.Namespace }}
    selector:
      matchLabels:
        archiver: "true"
  retentionPolicy:
    name: {{ .Values.global.infra.kubestash.retentionPolicy.name }}
    namespace: {{ .Values.global.infra.kubestash.retentionPolicy.namespace }}
  encryptionSecret:
    name: {{ .Values.global.infra.kubestash.encryptionSecret.name }}
    namespace: {{ .Values.global.infra.kubestash.encryptionSecret.namespace }}
  fullBackup:
    driver: Restic
    scheduler:
      failedJobsHistoryLimit: 4
      jobTemplate:
        backoffLimit: 2
        template:
          spec:
            containerSecurityContext:
              {{- toYaml $csc | nindent 14 }}
            nodeSelector:
              kubernetes.io/os: linux
      schedule: {{ .Values.global.infra.kubestash.schedule }}
      successfulJobsHistoryLimit: 2
    sessionHistoryLimit: 3
    jobTemplate:
      spec:
        containerSecurityContext:
          {{- toYaml $csc | nindent 10 }}
        nodeSelector:
          kubernetes.io/os: linux
  manifestBackup:
    scheduler:
      failedJobsHistoryLimit: 4
      jobTemplate:
        backoffLimit: 2
        template:
          spec:
            containerSecurityContext:
              {{- toYaml $csc | nindent 14 }}
            nodeSelector:
              kubernetes.io/os: linux
      schedule: {{ .Values.global.infra.kubestash.schedule }}
      successfulJobsHistoryLimit: 2
    sessionHistoryLimit: 3
    jobTemplate:
      spec:
        containerSecurityContext:
          {{- toYaml $csc | nindent 10 }}
        nodeSelector:
          kubernetes.io/os: linux
  backupStorage:
    ref:
      name: {{ .Values.global.infra.kubestash.storageRef.name }}
      namespace: {{ .Values.global.infra.kubestash.storageRef.namespace }}
