{{ $defaults := printf `
stash-ui-server:
  registryFQDN: %q
stash-metrics:
  enabled: false
` (include "registry.ghcr" $) | fromYaml }}

{{ $vals := dig "stash-opscenter" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: stash-opscenter
  labels:
    app.kubernetes.io/part-of: opscenter-backup
spec:
  title: Stash Opscenter
  description: |
    UI and monitoring resources for Stash.
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: opscenter-backup
  featureBlock: stash
  recommended: false
  requirements:
    features:
      - stash
      - panopticon
      - grafana-operator
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/name: stash-ui-server
  chart:
    name: stash-opscenter
    namespace: stash
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "stash-opscenter" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: stash-opscenter.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
