{{ if and (index .Values "setupJob" "config" "selfManagement" "useGateway") (index .Values "platform-ui" "enabled") (not (eq .Values.global.platform.deploymentType "Hosted")) }}

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "ace.fullname" . }}-home
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: {{ include "ace.fullname" . }}
    namespace: {{ .Release.Namespace }}
    sectionName: https
  rules:
  - matches:
      - path:
          type: PathPrefix
          value: /
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplaceFullPath
          replaceFullPath: /accounts/selfhost-home
    backendRefs:
    - group: ""
      kind: Service
      name: {{ include "ace.fullname" . }}-platform-api
      namespace: {{ .Release.Namespace }}
      port: 80
      weight: 1

{{- end }}
