{{ if (and (index .Values "setupJob" "config" "selfManagement" "useGateway") (and .Values.nats.enabled (not .Values.nats.nats.externalAccess))) }}

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "ace.fullname" . }}-nats
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: {{ include "ace.fullname" . }}
    namespace: {{ .Release.Namespace }}
    sectionName: https
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /nats # /nats(/|$)(.*)
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplacePrefixMatch
          replacePrefixMatch: /
    backendRefs:
    - group: ""
      kind: Service
      name: {{ include "ace.fullname" . }}-nats
      namespace: {{ .Release.Namespace }}
      port: 443
      weight: 1

{{- end }}
