{{ $defaults := printf `
constraintViolationsLimit: 100
image:
  repository: %s
  crdRepository: %s
# preInstall:
#   crdRepository:
#     image:
#       repository: null
audit:
  resources:
    limits:
      memory: 2Gi
    requests:
      cpu: 1
      memory: 1Gi
controllerManager:
  resources:
    limits:
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
postUpgrade:
  labelNamespace:
    image:
      repository: %s
postInstall:
  labelNamespace:
    image:
      repository: %s
  probeWebhook:
    image:
      repository: %s
preUninstall:
  deleteWebhookConfigurations:
    image:
      repository: %s
`
  (include "image.dockerHub" (merge (dict "_repo" "openpolicyagent/gatekeeper") $))
  (include "image.dockerHub" (merge (dict "_repo" "openpolicyagent/gatekeeper-crds") $))
  (include "image.dockerHub" (merge (dict "_repo" "openpolicyagent/gatekeeper-crds") $))
  (include "image.dockerHub" (merge (dict "_repo" "openpolicyagent/gatekeeper-crds") $))
  (include "image.dockerHub" (merge (dict "_repo" "curlimages/curl") $))
  (include "image.dockerHub" (merge (dict "_repo" "openpolicyagent/gatekeeper-crds") $))
  | fromYaml }}

{{ $vals := dig "gatekeeper" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: gatekeeper
  labels:
    app.kubernetes.io/part-of: opscenter-policy-management
spec:
  title: Gatekeeper
  description: |
    Policy Controller for Kubernetes.
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: opscenter-policy-management
  featureBlock: gatekeeper
  recommended: false
  disabled: {{ eq (include "distro.rancher" $) "true" }}
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app: gatekeeper
          control-plane: audit-controller
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app: gatekeeper
          control-plane: controller-manager
  chart:
    name: gatekeeper
    namespace: gatekeeper-system
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "gatekeeper" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: gatekeeper.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
