{{ $defaults := printf `
image:
  repository: ghcr.io/appscode/secrets-store-csi-driver-provider-virtual-secrets
`
  (include "image.ghcr" (merge (dict "_repo" "appscode/secrets-store-csi-driver-provider-virtual-secrets") $))
  | fromYaml }}

{{ $vals := dig "secrets-store-csi-driver-provider-virtual-secrets" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: secrets-store-csi-driver-provider-virtual-secrets
  labels:
    app.kubernetes.io/part-of: opscenter-secret-management
spec:
  title: Virtual Secrets provider for the Secrets Store CSI Driver (ALPHA)
  description: |
    Integrate Virtual Secrets with Kubernetes via a CSI volume
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: opscenter-secret-management
  featureBlock: virtual-secrets-server
  recommended: false
  requirements:
    features:
      - virtual-secrets-server
      - secrets-store-csi-driver
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: DaemonSet
        selector:
          app.kubernetes.io/instance: secrets-store-csi-driver-provider-virtual-secrets
          app.kubernetes.io/name: secrets-store-csi-driver-provider-virtual-secrets
  chart:
    name: secrets-store-csi-driver-provider-virtual-secrets
    namespace: kube-system
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "secrets-store-csi-driver-provider-virtual-secrets" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: secrets-store-csi-driver-provider-virtual-secrets.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
