{{ $defaults := printf `
controller:
  image:
    repository: %s
webhook:
  image:
    repository: %s
`
  (include "image.kubernetes" (merge (dict "_repo" "sig-storage/snapshot-controller") $))
  (include "image.kubernetes" (merge (dict "_repo" "sig-storage/snapshot-validation-webhook") $))
  | fromYaml }}

{{ $vals := dig "snapshot-controller" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: snapshot-controller
  labels:
    app.kubernetes.io/part-of: opscenter-storage
spec:
  title: CSI Volume Snapshotter
  description: |
    Deploys the snapshot-controller and the snapshot-validation-webhook
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: opscenter-storage
  featureBlock: snapshot-controller
  recommended: false
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/instance: snapshot-controller
          app.kubernetes.io/name: snapshot-controller
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/instance: snapshot-controller
          app.kubernetes.io/name: snapshot-validation-webhook
  chart:
    name: snapshot-controller
    namespace: kubeops
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "snapshot-controller" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: snapshot-controller.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
