{{ $defaults := printf `
registryFQDN: %s
manager:
  image: %s
kubectl:
  image: %s
helm:
  createNamespace: %v
`
  (include "registry.ghcr" $)
  (include "image.ghcr" (merge (dict "_repo" "kluster-manager/cluster-profile") $))
  (include "kubectl.image" $)
  $.Values.helm.createNamespace
  | fromYaml }}

{{ $vals :=  (omit $.Values "clusterMetadata") | deepCopy }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: cluster-profile-manager
  labels:
    app.kubernetes.io/part-of: ocm-hub
spec:
  title: Cluster Profile Manager
  description: |
    Deploy Cluster Profile Manager
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: ocm-hub
  featureBlock: cluster-manager-hub
  recommended: true
  requirements:
    features:
      - cluster-manager-hub
      - cluster-auth-manager
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/instance: cluster-profile-manager
          app.kubernetes.io/name: cluster-profile-manager
  chart:
    name: cluster-profile-manager
    namespace: open-cluster-management-addon
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "cluster-profile-manager" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
    - kind: Secret
      name: ace-features-cred
      valuesKey: cluster-profile-manager.yaml
      optional: true
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
