{{ $defaults := printf `
image: %s
clusterGateway:
  image: %s
kubectl:
  image: %s
placement:
  create: false
`
  (include "image.ghcr" (merge (dict "_repo" "kluster-manager/cluster-gateway-manager") $))
  (include "image.ghcr" (merge (dict "_repo" "kluster-manager/cluster-gateway") $))
  (include "kubectl.image" $)
  | fromYaml }}

{{ $vals := dig "cluster-gateway-manager" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: cluster-gateway-manager
  labels:
    app.kubernetes.io/part-of: ocm-hub
spec:
  title: Cluster Gateway Manager
  description: |
    Deploy Cluster Gateway Manager
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: ocm-hub
  featureBlock: cluster-manager-hub
  recommended: true
  requirements:
    features:
      - cluster-manager-hub
      - cluster-profile-manager
      - managed-serviceaccount-manager
      - cluster-proxy-manager
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/instance: cluster-gateway-manager
          app.kubernetes.io/name: cluster-gateway-manager
  chart:
    name: cluster-gateway-manager
    namespace: open-cluster-management-addon
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "cluster-gateway-manager" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
