{{- with (index .Values "helm" "releases" "license-proxyserver") }}
{{- if .enabled }}

{{ $defaults := dict "registryFQDN" (include "registry.ghcr" $) }}

{{ $vals := dig "values" dict . }}
{{ $vals = mergeOverwrite $defaults $vals }}

{{- if eq (include "distro.openshift" $) "true" }}
{{ $vals = mergeOverwrite $vals (dict "distro" .Values.options.distro) }}
{{- end }}

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: license-proxyserver
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/component: license-proxyserver
    app.kubernetes.io/part-of: opscenter-core
spec:
  interval: 5m
  timeout: 30m
  releaseName: license-proxyserver
  targetNamespace: kubeops
  storageNamespace: kubeops
  install:
    createNamespace: {{ $.Values.helm.createNamespace }}
    # crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    remediation:
      retries: -1
  dependsOn:
  - name: opscenter-features
    namespace: {{ $.Release.Namespace }}
  chart:
    spec:
      chart: license-proxyserver
      version: {{ .version | quote }}
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: appscode-charts-oci
        namespace: {{ $.Release.Namespace }}
  valuesFrom:
    - kind: Secret
      name: ace-licenseserver-cred
      valuesKey: license-proxyserver.yaml
      optional: true
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}

{{- end }}
{{- end }}
