{{ $defaults := dict "registryFQDN" (include "registry.ghcr" $) }}

{{ $vals := dig "aceshifter" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

{{- if eq (include "distro.openshift" $) "true" }}
{{ $vals = mergeOverwrite $vals (dict "distro" .Values.distro) }}
{{- end }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: aceshifter
  labels:
    app.kubernetes.io/part-of: opscenter-core
spec:
  title: OpenShift Adapter
  description: |
    OpenShift Adapter for ACE
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-core
  featureBlock: aceshifter
  recommended: false
  readinessChecks:
    workloads:
    - group: apps
      version: v1
      kind: Deployment
      selector:
        app.kubernetes.io/name: aceshifter
  chart:
    name: aceshifter
    namespace: kubeops
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "aceshifter" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
