{{ $defaults := printf `
cli:
  image: %s
helmController:
  image: %s
imageAutomationController:
  image: %s
imageReflectionController:
  image: %s
kustomizeController:
  image: %s
notificationController:
  image: %s
sourceController:
  image: %s
`
  (include "image.ghcr" (merge (dict "_repo" "appscode/flux-cli") $))
  (include "image.ghcr" (merge (dict "_repo" "fluxcd/helm-controller") $))
  (include "image.ghcr" (merge (dict "_repo" "fluxcd/image-automation-controller") $))
  (include "image.ghcr" (merge (dict "_repo" "fluxcd/image-reflector-controller") $))
  (include "image.ghcr" (merge (dict "_repo" "fluxcd/kustomize-controller") $))
  (include "image.ghcr" (merge (dict "_repo" "fluxcd/notification-controller") $))
  (include "image.ghcr" (merge (dict "_repo" "fluxcd/source-controller") $))
  | fromYaml }}

{{ $vals := `
helmController:
  create: true
  labels:
    ace.appscode.com/managed: "true"
imageAutomationController:
  create: false
imageReflectionController:
  create: false
kustomizeController:
  create: false
notificationController:
  create: false
sourceController:
  create: true
  labels:
    ace.appscode.com/managed: "true"
` | fromYaml }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: flux2
  labels:
    app.kubernetes.io/part-of: opscenter-core
spec:
  title: FluxCD
  description: |
    Flux - the GitOps family of projects
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-core
  featureBlock: flux2
  recommended: false
  readinessChecks:
    workloads:
    - group: apps
      version: v1
      kind: Deployment
      selector:
        app.kubernetes.io/component: helm-controller
        app.kubernetes.io/instance: flux-system
        app.kubernetes.io/part-of: flux
        control-plane: controller
    - group: apps
      version: v1
      kind: Deployment
      selector:
        app.kubernetes.io/component: source-controller
        app.kubernetes.io/instance: flux-system
        app.kubernetes.io/part-of: flux
        control-plane: controller
  chart:
    name: flux2
    namespace: flux-system
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "flux2" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: flux2.yaml
      optional: true
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
