{{ $defaults := printf `
registryFQDN: %s
ace-user-roles:
  enabled: true
  enableClusterRoles:
    ace: true
    appcatalog: true
    catalog: true
    cert-manager: true
    kubedb-ui: true
    kubedb: true
    kubestash: true
    kubevault: true
    license-proxyserver: true
    metrics: true
    prometheus: true
    secrets-store: true
    stash: true
    virtual-secrets: true
`
  (include "registry.ghcr" $)
  | fromYaml }}

{{ $vals := dig "kube-ui-server" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

{{- if eq (include "distro.openshift" $) "true" }}
{{ $vals = mergeOverwrite $vals (dict "distro" .Values.distro) }}
{{- end }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: kube-ui-server
  labels:
    app.kubernetes.io/part-of: opscenter-core
spec:
  title: Kube UI Server
  description: |
    Kube UI Server provides the APIs to interact with your cluster from the dashboard.
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: opscenter-core
  featureBlock: kube-ui-server
  recommended: true
  {{- if eq (include "distro.openshift" $) "true" }}
  requirements:
    features:
      - aceshifter
  {{- end }}
  readinessChecks:
    workloads:
    - group: apps
      version: v1
      kind: Deployment
      selector:
        app.kubernetes.io/name: kube-ui-server
        app.kubernetes.io/instance: kube-ui-server
  chart:
    name: kube-ui-server
    namespace: kubeops
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "kube-ui-server" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
    - kind: Secret
      name: ace-features-cred
      valuesKey: kube-ui-server.yaml
      optional: true
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
