apiVersion: appcatalog.appscode.com/v1alpha1
kind: AppBinding
metadata:
  name: {{ include "monitoring-config.fullname" . }}-prometheus
  namespace: {{ .Release.Namespace }}
{{- if .Values.prometheus.default }}
  annotations:
    monitoring.appscode.com/is-default-prometheus: "true"
{{- end }}
  labels:
    {{- include "monitoring-config.labels" . | nindent 4 }}
spec:
  type: Prometheus
  clientConfig:
  {{- if .Values.prometheus.url }}
    url: {{ .Values.prometheus.url }}
  {{- else }}
    service:
      scheme: {{ .Values.prometheus.service.scheme }}
      name: {{ .Values.prometheus.service.name }}
      namespace: {{ .Values.prometheus.service.namespace }}
      port: {{ .Values.prometheus.service.port }}
    {{- with .Values.prometheus.service.path }}
      path: {{ . }}
    {{- end }}
    {{- with .Values.prometheus.service.query }}
      query: {{ . }}
    {{- end }}
  {{- end }}
{{- if or .Values.prometheus.basicAuth.password .Values.prometheus.bearerToken }}
  secret:
    name: {{ include "monitoring-config.fullname" . }}-prometheus-auth
{{- end }}
{{- if .Values.prometheus.tls.ca }}
  tlsSecret:
    name: {{ include "monitoring-config.fullname" . }}-prometheus-tls
{{- end }}
{{- if .Values.prometheus.tls.insecureSkipTLSVerify }}
  insecureSkipTLSVerify: true
{{- end }}
{{- with .Values.prometheus.tls.ca }}
  caBundle: {{ . | b64enc }}
{{- end }}
{{- with .Values.prometheus.tls.serverName }}
  serverName: {{ . }}
{{- end }}
