# Default values for opscenter-features.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""
clusterMetadata:
  uid: TBD
  name: TBD
  clusterManagers: []
  capi:
    provider: ""
    namespace: ""
    clusterName: ""
offlineInstaller: false
image:
  proxies:
    # r.appscode.com
    appscode: r.appscode.com
    # company/bin:tag
    dockerHub: ""
    # alpine, nginx etc.
    dockerLibrary: ""
    # ghcr.io/company/bin:tag
    ghcr: ghcr.io
    # quay.io/company/bin:tag
    quay: quay.io
    # registry.k8s.io/bin:tag
    kubernetes: registry.k8s.io
    microsoft: mcr.microsoft.com
    weaviate: cr.weaviate.io
# image:
#   proxies:
#     dockerHub: harbor.appscode.ninja/dockerhub
#     dockerLibrary: ""
#     ghcr: harbor.appscode.ninja/ghcr
#     quay: harbor.appscode.ninja/quay
#     kubernetes: harbor.appscode.ninja/k8s
#     microsoft: harbor.appscode.ninja/mcr
#     appscode: harbor.appscode.ninja/ac
registry:
  credentials: {}
  # username: "abc"
  # password: "xyz"
  certs: {}
  # ca.crt: "***"
  imagePullSecrets: []
  # imagePullSecrets: ["abc", "xyz"]
helm:
  createNamespace: true
  repositories:
    # oci://harbor.appscode.ninja/ac/appscode-charts
    appscode-charts-oci:
      url: oci://ghcr.io/appscode-charts
  releases:
    aceshifter:
      version: "v2026.2.16"
    appscode-otel-stack:
      version: "v2025.2.28"
    aws-credential-manager:
      version: "v2026.1.20"
    aws-ebs-csi-driver:
      version: "2.23.0"
    aws-load-balancer-controller:
      version: "1.11.0"
    capa-vpc-peering-operator:
      version: "v2023.12.11"
    capi-catalog:
      version: "v2024.10.24"
    capi-ops-manager:
      version: "v2024.8.14"
    catalog-manager:
      version: "v2026.2.16"
    cert-manager:
      version: "v1.19.3"
    cert-manager-csi-driver-cacerts:
      version: "v2026.1.15"
    cluster-autoscaler:
      version: "9.29.0"
    cluster-presets:
      version: "v2026.2.16"
    config-syncer:
      version: "v0.15.4"
    crossplane:
      version: "1.14.0"
    csi-driver-nfs:
      version: "v4.7.0"
    external-dns-operator:
      version: "v2026.1.15"
    falco:
      version: "4.0.0"
    falco-ui-server:
      version: "v2026.1.15"
    flux2:
      version: "2.17.0"
    gatekeeper:
      version: "3.13.3"
    gatekeeper-grafana-dashboards:
      version: "v2023.10.1"
    gatekeeper-library:
      version: "v2023.10.1"
    gateway-api:
      version: "v2025.3.14"
    grafana-operator:
      version: "v2026.1.15"
    keda:
      version: "2.17.2"
    keda-add-ons-http:
      version: "0.10.0"
    kube-grafana-dashboards:
      version: "v2023.10.1"
    kube-prometheus-stack:
      version: "69.2.2"
    kubedb-ui-presets:
      version: "v2026.2.16"
    kube-ui-server:
      version: "v2026.2.16"
    kubedb:
      version: "v2026.2.26"
    kubedb-opscenter:
      version: "v2026.2.26"
    kubedb-provider-aws:
      version: "v2024.1.31"
    kubedb-provider-azure:
      version: "v2024.1.31"
    kubedb-provider-gcp:
      version: "v2024.1.31"
    kubestash:
      version: "v2026.2.26"
    kubevault:
      version: "v2026.2.27"
    kubevault-opscenter:
      version: "v2026.2.27"
    kyverno:
      version: "3.2.6"
    kyverno-policies:
      version: "3.2.5"
    license-proxyserver:
      version: "v2026.2.16"
    longhorn:
      version: "1.7.2"
    metrics-server:
      version: "3.11.0"
    monitoring-operator:
      version: "v2026.1.15"
    operator-shard-manager:
      version: "v2026.1.15"
    opencost:
      version: "1.18.1"
    opencost-grafana-dashboards:
      version: "v2023.10.1"
    opscenter-features:
      version: "v2026.2.16"
    panopticon:
      version: "v2026.1.15"
    prepare-cluster:
      version: "v2023.12.21"
    prometheus-adapter:
      version: "4.9.0"
    reloader:
      version: "1.0.79"
    scanner:
      version: "v2026.1.15"
    service-backend:
      version: "v2026.2.16"
    service-gateway:
      version: "v2026.2.16"
    service-gateway-presets:
      version: "v2026.2.16"
    service-provider:
      version: "v2026.2.16"
    sidekick:
      version: "v2026.1.15"
    snapshot-controller:
      version: "3.0.6"
    stash:
      version: "v2025.7.31"
    stash-opscenter:
      version: "v2025.7.31"
    stash-presets:
      version: "v2026.2.16"
    supervisor:
      version: "v2026.1.15"
    topolvm:
      version: "15.0.0"
    voyager:
      version: "v2025.9.19"
    voyager-gateway:
      version: "v2026.1.15"
    # secret management
    external-secrets:
      version: "0.9.12"
    sealed-secrets:
      version: "2.14.2"
    vault-secrets-operator:
      version: "0.4.3"
    secrets-store-csi-driver:
      version: "1.4.1"
    secrets-store-csi-driver-provider-aws:
      version: "0.3.6"
    csi-secrets-store-provider-azure:
      version: "1.5.2"
    secrets-store-csi-driver-provider-gcp:
      version: "0.1.0"
    vault:
      version: "0.27.0"
    virtual-secrets-server:
      version: "v2026.2.27"
    secrets-store-csi-driver-provider-virtual-secrets:
      version: "v2026.2.27"
    # ocm charts
    ingress-nginx:
      version: "4.14.3"
    cluster-manager-hub:
      version: "v2026.2.16"
    cluster-manager-spoke:
      version: "v2026.2.16"
    managed-serviceaccount-manager:
      version: "v2026.2.16"
    cluster-proxy-manager:
      version: "v2026.2.16"
    cluster-gateway-manager:
      version: "v2026.2.16"
    cluster-auth-manager:
      version: "v2026.2.16"
    cluster-profile-manager:
      version: "v2026.2.16"
    hub-cluster-robot:
      version: "v2026.2.16"
    fluxcd-manager:
      version: "v2026.2.16"
    license-proxyserver-manager:
      version: "v2026.2.16"
    inbox-server:
      version: "v2025.2.28"
    inbox-agent:
      version: "v2024.12.30"
    inbox-ui:
      version: "v2026.2.16"
licenseServer:
  baseURL: ""
  token: ""
distro:
  openshift: false
  ubi: ""
