apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "cluster-importer.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cluster-importer.labels" . | nindent 4 }}
spec:
  backoffLimit: 4
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- include "appscode.imagePullSecrets" . | nindent 6 }}
      {{- if eq "true" ( include "distro.openshift" . ) }}
      securityContext:
        {{- toYaml (omit .Values.podSecurityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 8 }}
      {{- else }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- if eq "true" ( include "distro.openshift" . ) }}
          securityContext:
            {{- toYaml (omit .Values.securityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 12 }}
          {{- else }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
          image: "{{ include "image.registry" . }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            {{- toYaml .Values.args | nindent 12 }}
          # ports:
          #   - name: http
          #     containerPort: 80
          #     protocol: TCP
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: ACECONFIG
              value: /var/run/aceconfig/config.yaml
            {{- if .Values.kubeconfigSecretKeyRef.name }}
            - name: KUBECONFIG
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.kubeconfigSecretKeyRef.name }}
                  key: {{ .Values.kubeconfigSecretKeyRef.key }}
            {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: aceconfig
              mountPath: /var/run/aceconfig
      volumes:
        - name: tmp
          emptyDir: {}
        - name: aceconfig
          secret:
            defaultMode: 420
            secretName: {{ include "cluster-importer.fullname" . }}-aceconfig

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
