{{- if (or .Values.licenses .Values.encodedLicenses) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "license-proxyserver.fullname" . }}-licenses
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "license-proxyserver.labels" . | nindent 4 }}
type: Opaque
data:
{{- range $k, $v := .Values.licenses }}
  r_{{ $k }}: {{ $v | b64enc | quote }}
{{- end }}
{{- range $k, $v := .Values.encodedLicenses }}
  e_{{ $k }}: {{ $v | quote }}
{{- end }}
{{- end }}
