{{- if not (eq .Values.global.infra.tls.issuer "external") }}

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "ace.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ace.labels" . | nindent 4 }}
spec:
  secretName: {{ include "ace.fullname" . }}-cert
  secretTemplate:
    annotations:
      vcluster.loft.sh/force-sync: "true"
  issuerRef:
    group: cert-manager.io
    kind: Issuer
    name: {{ include "ace.fullname" . }}
  dnsNames:
    - {{ include "ace.fullname" . }}-nats
    - {{ include "ace.fullname" . }}-nats.{{ .Release.Namespace }}.svc
    - {{ include "ace.fullname" . }}-nats.{{ .Release.Namespace }}.svc.cluster.local
  {{- if eq .Values.global.platform.hostType "domain" }}
    - "{{ .Values.global.platform.host }}"
    {{- if and .Values.nats.enabled .Values.nats.nats.externalAccess }}
    - "nats.{{ .Values.global.platform.host }}"
    {{- end }}
    {{- if eq .Values.global.platform.deploymentType "Hosted" }}
    - "api.{{ .Values.global.platform.host }}"
    {{- end }}
    {{- if eq .Values.global.platform.host "appscode.com" }}
    - "api.byte.builders"
    {{- end }}
  commonName: "{{ .Values.global.platform.host }}"
  {{- else }}
  ipAddresses:
    - "{{ .Values.global.platform.host }}"
  {{- end }}
  usages:
    - key agreement
    - digital signature
    - server auth
  {{- if .Values.global.infra.tls.jks.password }}
  keystores:
    jks:
      create: true
      alias: aws
      passwordSecretRef:
        name: {{ include "ace.fullname" . }}-jkscred
        key: password
  {{- end }}

{{- end }}
