{{- if (has .Values.global.infra.tls.issuer (list "letsencrypt" "letsencrypt-staging" "ca")) }}

apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "ace.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ace.labels" . | nindent 4 }}
spec:
  {{- if eq .Values.global.infra.tls.issuer "ca" }}
  {{- if and .Values.global.infra.tls.ca.cert .Values.global.infra.tls.ca.key }}
  ca:
    secretName: {{ include "ace.fullname" . }}-ca
  {{- else }}
  selfSigned: {}
  {{- end }}
  {{- end }}
  {{- if has .Values.global.infra.tls.issuer (list "letsencrypt" "letsencrypt-staging") }}
  acme:
    {{- if (eq .Values.global.infra.tls.issuer "letsencrypt") }}
    server: https://acme-v02.api.letsencrypt.org/directory
    {{- end }}
    {{- if (eq .Values.global.infra.tls.issuer "letsencrypt-staging") }}
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    {{- end }}
    email: {{ .Values.global.infra.tls.acme.email }}
    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: {{ include "ace.fullname" . }}-acme-cred
    solvers:
    # An empty 'selector' means that this solver matches all domains
    - selector: {}
      {{- if and .Values.nats.enabled .Values.nats.nats.externalAccess }}
      # Use ACME DNS-01 provider when nats is exposed using hostport
      dns01:
      {{- if eq .Values.global.infra.dns.provider "cloudflare" }}
        cloudflare:
          apiTokenSecretRef:
            name: {{ include "ace.fullname" . }}-dns-cred
            key: CF_API_TOKEN
      {{- end }}
      {{- if eq .Values.global.infra.dns.provider "cloudDNS" }}
        cloudDNS:
          project: {{ .Values.global.infra.dns.auth.cloudDNS.GOOGLE_PROJECT_ID }}
          serviceAccountSecretRef:
            name: {{ include "ace.fullname" . }}-dns-cred
            key: GOOGLE_SERVICE_ACCOUNT_JSON_KEY
      {{- end }}
      {{- if eq .Values.global.infra.dns.provider "route53" }}
        route53:
          accessKeyID: {{ .Values.global.infra.dns.auth.route53.AWS_ACCESS_KEY_ID }}
          region: {{ .Values.global.infra.dns.auth.route53.AWS_REGION }}
          secretAccessKeySecretRef:
            name: {{ include "ace.fullname" . }}-dns-cred
            key: AWS_SECRET_ACCESS_KEY
      {{- end }}
      {{- if eq .Values.global.infra.dns.provider "azureDNS" }}
        azureDNS:
          clientID: {{ .Values.global.infra.dns.auth.azureDNS.servicePrincipalAppID }}
          clientSecretSecretRef:
            name: {{ include "ace.fullname" . }}-dns-cred
            key: SERVICE_PRINCIPAL_PASSWORD
          subscriptionID: {{ .Values.global.infra.dns.auth.azureDNS.subscriptionID }}
          tenantID: {{ .Values.global.infra.dns.auth.azureDNS.tenantID }}
          resourceGroupName: {{ .Values.global.infra.dns.auth.azureDNS.resourceGroupName }}
          hostedZoneName: {{ .Values.global.infra.dns.auth.azureDNS.hostedZoneName }}
          environment: {{ default "AzurePublicCloud" .Values.global.infra.dns.auth.azureDNS.environment }}
      {{- end }}
      {{- else }}
      # Use ACEM http challenge for everything else
      http01:
        {{ if (index .Values "httpRoute" "enabled") }}
        gatewayHTTPRoute:
          parentRefs:
          - group: gateway.networking.k8s.io
            kind: Gateway
            name: {{ include "ace.fullname" . }}
            namespace: {{ .Release.Namespace }}
            sectionName: api
        {{- else }}
        ingress:
          ingressClassName: {{ index .Values "ingress-nginx" "controller" "ingressClassResource" "name" }}
          serviceType: ClusterIP
        {{- end }}
      {{- end }}
  {{- end }}
{{- end }}
