{{ $defaults := printf `
fullnameOverride: sealed-secrets-controller
image:
  registry: %q
`
  (default "docker.io" (include "registry.dockerHub" $))
  | fromYaml }}

{{ $vals := dig "sealed-secrets" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: sealed-secrets
  labels:
    app.kubernetes.io/part-of: opscenter-secret-management
spec:
  title: Sealed Secrets
  description: |
    One-way encrypted Secrets for Kubernetes
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: opscenter-secret-management
  featureBlock: sealed-secrets
  recommended: false
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/instance: sealed-secrets
          app.kubernetes.io/name: sealed-secrets
          app.kubernetes.io/part-of: sealed-secrets
  chart:
    name: sealed-secrets
    namespace: kube-system
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "sealed-secrets" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: sealed-secrets.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
