apiVersion: v2
name: ace
description: A Helm chart for AppsCode Container Engine
type: application
version: v2025.12.15
appVersion: v2025.12.15
home: https://github.com/appscode-cloud
icon: https://cdn.appscode.com/images/products/bytebuilders/icons/android-icon-192x192.png
sources:
- https://github.com/appscode-cloud
maintainers:
- name: appscode
  email: support@appscode.com
dependencies:
- name: platform-ui
  repository: file://../platform-ui
  condition: platform-ui.enabled
  version: v2025.12.15
- name: cluster-ui
  repository: file://../cluster-ui
  condition: cluster-ui.enabled
  version: v2025.12.15
- name: kubedb-ui
  repository: file://../kubedb-ui
  condition: kubedb-ui.enabled
  version: v2025.12.15
- name: platform-api
  repository: file://../platform-api
  condition: platform-api.enabled
  version: v2025.12.15
- name: grafana
  repository: file://../grafana
  condition: grafana.enabled
  version: v2025.12.15
- name: trickster
  repository: oci://ghcr.io/appscode-charts
  condition: trickster.enabled
  version: v2024.9.30
- name: s3proxy
  repository: file://../s3proxy
  condition: s3proxy.enabled
  version: v2025.12.15
- name: ingress-nginx
  repository: oci://ghcr.io/appscode-charts
  condition: ingress-nginx.enabled
  version: 4.13.1
- name: nats
  repository: oci://ghcr.io/appscode-charts
  condition: nats.enabled
  version: 0.19.17
- name: openfga
  repository: oci://ghcr.io/appscode-charts
  condition: openfga.enabled
  version: 0.2.42
- name: pgoutbox
  repository: oci://ghcr.io/appscode-charts
  condition: pgoutbox.enabled
  version: v2025.4.30
- name: outbox-syncer
  repository: file://../outbox-syncer
  condition: outbox-syncer.enabled
  version: v2025.12.15
- name: platform-opscenter
  repository: file://../platform-opscenter
  condition: platform-opscenter.enabled
  version: v2025.12.15
