# Default values for accounts-ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

# License for the product.
# Get a license by following the steps from [here](https://license-issuer.appscode.com/).
# Example:
# helm install appscode/accounts-ui \
#   --set-file license=/path/to/license/file
# or
# helm install appscode/accounts-ui \
#   --set license=<license file content>
license: ""

# Docker registry fqdn used to pull app related images.
# Set this to use docker registry hosted at ${registryFQDN}/${registry}/${image}
registryFQDN: ghcr.io

# Docker registry containing app images
image:
  # Docker registry used to pull app container image
  registry: appscode
  # App container image
  repository: b3
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

# Security options this container should run with
securityContext: # +doc-gen:break
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65534
  seccompProfile:
    type: RuntimeDefault

service:
  type: ClusterIP
  port: 80

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

monitoring:
  # Name of monitoring agent (eg "prometheus.io/operator")
  agent: ""
  serviceMonitor:
    # Specify the labels for ServiceMonitor.
    # Prometheus crd will select ServiceMonitor using these labels.
    # Only usable when monitoring agent is `prometheus.io/operator`.
    labels: {}

persistence:
  size: 10Gi

infra:
  storageClass:
    name: "standard"
  objstore:
    provider: ""
    mountPath: ""
  badger:
    mountPath: /badger
  invoice:
    mountPath: /billing

settings:
  caProviderClass: ""
  secretName:
    platformConfig: ""
    platformUserConfig: ""
    platformSystemConfig: ""
    grafanaConfig: ""
    objstore: ""
    nats: ""
