{{ $defaults := printf `
controller:
  image:
    registry: %s
  opentelemetry:
    image:
      registry: %s
  admissionWebhooks:
    enabled: false
  ingressClassByName: true
  ingressClassResource:
    controllerValue: open-cluster-management.io/ingress
    enabled: true
    name: ocm-ingress
  service:
    enableHttp: false
    enableHttps: false
defaultBackend:
  image:
    registry: %s
tcp:
  "8090": multicluster-controlplane/proxy-entrypoint:8090
  "8091": multicluster-controlplane/proxy-entrypoint:8091
  "9443": multicluster-controlplane/multicluster-controlplane:443
`
  (include "registry.kubernetes" $)
  (include "registry.kubernetes" $)
  (include "registry.kubernetes" $)
  | fromYaml }}

{{ $vals := dig "ingress-nginx" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: ingress-nginx-mc
  labels:
    app.kubernetes.io/part-of: ocm-mc
spec:
  title: Multicluster Controlplane Ingress
  description: |
    Deploy Multicluster Controlplane Ingress Controller
  icons:
    - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
      type: image/svg+xml
  featureSet: ocm-mc
  featureBlock: multicluster-controlplane
  recommended: true
  readinessChecks:
    workloads:
      - group: apps
        version: v1
        kind: Deployment
        selector:
          app.kubernetes.io/component: controller
          app.kubernetes.io/instance: ingress-nginx-mc
          app.kubernetes.io/name: ingress-nginx
          app.kubernetes.io/part-of: ingress-nginx
  chart:
    name: ingress-nginx
    namespace: multicluster-controlplane
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "ingress-nginx" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: ingress-nginx.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
