{{ $defaults := printf `
registryFQDN: %s
kubeconfigSecretName: multicluster-controlplane-svc-kubeconfig
addonManagerNamespace: open-cluster-management-addon
` (include "registry.ghcr" $)
  | fromYaml }}

{{ $vals := dig "kube-ui-server" "values" (dict) .Values.helm.releases }}
{{ $vals = mergeOverwrite $defaults $vals }}

apiVersion: ui.k8s.appscode.com/v1alpha1
kind: Feature
metadata:
  name: kube-ui-server-mc
  labels:
    app.kubernetes.io/part-of: ocm-mc
spec:
  title: Multicluster Controlplane UI Server
  description: |
    Multicluster Controlplane UI Server provides the APIs required for cluster ui
  icons:
  - src: https://cdn.appscode.com/k8s/icons/menu/cluster.svg
    type: image/svg+xml
  featureSet: ocm-mc
  featureBlock: multicluster-controlplane
  recommended: true
  requirements:
    features:
      - multicluster-controlplane
      - mc-profile-manager
  readinessChecks:
    workloads:
    - group: apps
      version: v1
      kind: Deployment
      selector:
        app.kubernetes.io/name: kube-ui-server
        app.kubernetes.io/instance: kube-ui-server-mc
  chart:
    name: kube-ui-server
    namespace: multicluster-controlplane
    createNamespace: {{ $.Values.helm.createNamespace }}
    version: {{ dig "kube-ui-server" "version" "" $.Values.helm.releases }}
    sourceRef:
      kind: HelmRepository
      name: appscode-charts-oci
      namespace: {{ .Release.Namespace }}
  valuesFrom:
    - kind: Secret
      name: ace-features-cred
      valuesKey: kube-ui-server.yaml
      optional: true
  {{- if eq (include "distro.openshift" $) "true" }}
    - kind: ConfigMap
      name: ace-openshift-scc
      valuesKey: kube-ui-server.yaml
  {{- end }}
{{- with $vals }}
  {{- dict "values" . | toYaml | nindent 2 }}
{{- end }}
